/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

/*CSS*/
:root {
    --header-height: 3rem;

    /*Colors*/
    --hue: 8;
    --sat: 63%;
    --first-color: hsl(var(--hue), 75%, 54%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(60, 100%, 99%);
    --container-color: #FFF;
  
    /*Fonts*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* color gradient */
    --color-grad: linear-gradient( #e4622b, #de2b38);
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

h1, h2, h3,h4,h5,h6,p, .h1,.h2,.h3,.h4,.h5,.h6{
  cursor: default;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */


/*css class section*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}


/*layout*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: #e4622b;
}

.button--link:hover{
  background-color: transparent;
  color: #de2b38;
  font-weight: 600;
}


/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}


/* nav */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  width: 100%;
}

h3.nav_name {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  padding-left: 10px;
  font-weight: 300;
  
}

.nav_img {
    width: 80px;
    padding-bottom: 7px;
  }

.nav__logo {
  align-items: center;
  display: flex;
  color: var(--title-color);
  font-weight: 600;
  
}

.nav__list, 
.nav__link {
  display: flex;
  margin-left: -10px;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

/* nav responsive */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}


/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}


/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/* =========HOME========== */

.section#home {
 background: url("https://i.pinimg.com/originals/a7/05/09/a70509d6a6e2b5c4200cf03bc935128a.gif");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
 margin-bottom: 100px;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  background-position: center;
  height: 55vh;
  padding: 30px 150px;
}

.homebg {
  width: 200px;
}

.homebg img {
  width:840px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.4s;
}

.homebg img:hover {
  width: 855px;
}

.home-container {
  width: 500px;
  margin-left: -10px;
}

.myName {
  width: 100%;
  font-weight: 600;
  padding-right: 60px;
  color: var(--title-color);
}

.flName{
  color: #DB0F3F;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.container.text-content {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.container .text {
  position: relative;
  color: #e4622b;
  font-weight: 800;
}

.text.second-text, .text.a-text {
  color: #373535;
  padding-right: 2px;
}

.text.first-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.text.first-text::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--body-color);
  border-left: 2px solid #e4622b;
  animation: animate 4s steps(12) infinite;
}

/* text animation */
@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.description {
  text-align: justify;
  padding-top: 5px;
}

.btn-group {
  align-items: center;
}

.btn-group a {
  color: #fff;
  padding: 10px 40px;
  border-radius: 15px;
  border: 2px solid rgba(219,15,63,1);
  background: linear-gradient(90deg, rgba(231,118,38,1) 0%, rgba(228,98,43,1) 25%, rgba(225,72,49,1) 50%, rgba(219,15,63,1) 75%, rgba(222,43,56,1) 100%);
  font-weight: 700;
  margin-right: 7px;
  transition: .3s;
}

.btn-group a:hover {
  color: rgba(225,72,49,1);
  background: transparent;
  border: 2px solid rgba(219,15,63,1);
}

.btn-group a:nth-child(2) {
  color: rgba(225,72,49,1);
  background: transparent;
  border: 2px solid rgba(219,15,63,1);
  margin-left: 5px;
  transition: .3s;
}

.btn-group a:hover:nth-child(2) {
  background: linear-gradient(90deg, rgba(231,118,38,1) 0%, rgba(228,98,43,1) 25%, rgba(225,72,49,1) 50%, rgba(219,15,63,1) 75%, rgba(222,43,56,1) 100%);
  color: #fff;
}


/* socmed icons */
.socmed {
  position: absolute;
  padding-top: 20px;
}

.socmed a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, rgba(231,118,38,1) 0%, rgba(228,98,43,1) 25%, rgba(225,72,49,1) 50%, rgba(219,15,63,1) 75%, rgba(222,43,56,1) 100%);
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  line-height: 39px;
  border: 2px solid #fff;
  outline: 2px solid #e4622b;
  transition: .3s;
}

.socmed a i {
  color: #fff;
}

.socmed a:hover {
  transform: translateY(-5px);
}


/* =========ABOUT========== */

#about {
  width: 105%;
  height: max-content;
  min-height: 100vh;
}

.abttxt {
  display: flex;
  margin-bottom: -6px;
  padding-bottom: 5px;
}

.abttxt div.h2{
    font-weight: 700;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}

.abtconatiner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-about img {
  width: 70%;
}

.accordion {
  padding: 10px;
  margin: 10px;
  width: 96%;
}

.accordion-body {
  color: #000;
  background: #fff;
  padding: 20px 40px;
  cursor: default;
}

.accordion-item {
  border: 4px solid transparent;
  background:linear-gradient(90deg, #ff914d, #e4622b,#de2b38) border-box;
  width: 95%;
}

.accordion-button{
  border-radius: 10px 10px 10px 10px;
  transition: .3s ease-in-out;
}

.accordion-button:not(.colapsed){
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 10px 10px 0px 0;
} 

.accordion-button::after {
  background-image: url('img/arrow.svg');
}

.accordion-button:not(.collapsed)::after {
  background-image: url('img/arrow.svg');
  transform: rotate(180deg);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:hover {
  background:linear-gradient(90deg, #ff914d, #e4622b,#de2b38);
}

.row.rabtme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000;
  width: 100%;
}

.col .abtme {
  margin-top: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: default;
  transition:all .3s ease-in-out;
}

.col .abtme:hover {
  box-shadow: 6px 6px 5px #e4622b;
  background: #000;
  color: #fff;
  transform: translateY(-5px);
}

.abtme {
  width: 100%;
  height: 120px;
  font-family: 'Poppins', sans-serif;
}

.abtme h2 {
  font-weight: 800;
}

.abtme h5 {
  margin-top: -2px;
  font-size: 15px;
  font-weight: 400;
}

.divbtn {
display: flex;
margin-top: 25px;
align-items: center;
justify-content: center;
text-align: center;
}

.btn-dl {
  display: flex;
  gap: 8px;
  height: 50px;
  width: 165px;
  padding: 4x;
  border-radius: 20px;
  font-size: 17px;
  background: #000;
  border:#000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease;
}

.btn-dl:hover {
  background: #fff;
  border: 3px solid #000;
  color: #000;
  transform: translateY(-3px);
  box-shadow: 5px 5px 2px #000;
}

/* =========SKILLS========== */

#skills {
  margin: 0;
  height: max-content;
  overflow-x: hidden;
  max-width: 100%;
}

.sklstxt {
  display: flex;
}

.sklstxt div.h2{
    font-weight: 700;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}

.sklstxt div.h6 {
  margin-bottom: 25px;
}

.skls_container {
  max-width: 96%;
  margin-top: 35px;
  padding-left: 15px;
  row-gap: 0;
}

.skls_container .skills_header {
  max-width: 100%;
  cursor: pointer;
}

.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-left: -5px;
  border-radius: 10px;
  padding: 5px;
}

.skls_icon, .skls_arrow {
  font-size: 2rem;
  color: #de2b38;
}

.skls_icon {
  margin-right: 25px;
}

.skls_title {
  font-size: 25px;
  color: #353535;
  margin-bottom: 0px;
}

.skls_subtitle {
  font-size: 15px;
}

.skls_arrow {
  margin-left: auto;
  transition: .4s;
}

.skls_list {
  padding-right: 30px;
  margin-bottom: 2rem;
  row-gap: 1.5rem; 
  padding-left: 3.5rem;
}

.skls_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.skls_name {
  font-size: 19px;
  color: #373535;
  font-weight: 600;
}

.skls_bar, .skls_percent {
  height: 7px;
  border-radius: .25rem;
}

.skls_bar {
  background-color: #e4632b6f;
}

.skls_percent {
  display: block;
  background-color: #ff914d;
}

.skls_html, .skls_canva {
  width: 90%;
}

.skls_css, .skls_photoshop, .skls_ibis {
  width: 85%;
}

.skls_java {
  width: 65%;
}

.skls_c,.skls_lightroom {
  width: 60%;
}

.skls_cpp {
  width: 55%;
}

.skls_js, .skls_flash {
  width: 50%;
}

.skls_bootstrap, .skls_sql, .skls_kotlin, .skls_picsart {
  width: 30%;
}

.skls_godot {
  width: 20%;
}

.skills_content .skls_list {
  height: 0;
  overflow: hidden;
}

.skills_content.active .skls_list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills_content.active .skls_arrow {
  transform: rotate(-180deg);
}

/* =========QUALIFICATIONS========== */

#qualification {
  margin: 0;
  height: max-content;
  overflow-x: hidden;
  max-width: 100%;
}

.quali_container {
margin: 0;
padding: 0;
padding-top: 20px;
margin-left: 5px;
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
}

.quali_tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.quali_button {
  font-family: 'Poppins',sans-serif;
  font-size: 19px;
  font-weight: 800;
  color: #e4622b;
  cursor: pointer;
}

.quali_button:hover {
  color: #de2b38;
}

.quali_icon {
  font-size: 1.7rem;
  margin-right: 0.25rem;
}

.quali_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.quali_content {
  padding: 10px;
}

.quali_title {
  font-size: 18px;
  font-weight: 600;
}

.quali_subtitle {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 1rem;
}

.quali_calendar{
  font-size: 15px;
}

.quali_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #de2b38;
  border-radius: 50%;
}

.quali_line {
  display: block;
  width: 1px;
  height: 100%;
  background: linear-gradient( #e4622b, #de2b38);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.quali_active[data-content] {
  display: block;
}

.quali_button.quali_active{
  color: #DB0F3F;
}


.qualibtn {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
  
  .btn-ql {
    display: flex;
    gap: 8px;
    height: 50px;
    width: 165px;
    padding: 4x;
    border-radius: 20px;
    font-size: 17px;
    background: linear-gradient( #e4622b, #de2b38);
    border:#de2b38;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
  }
  
  .btn-ql:hover {
    background: linear-gradient( #e4622b, #de2b38);
    border: 3px solid #fff;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 5px 5px 2px #000;
  }


/* =========SERVICES========== */
#services {
  max-height: max-content;
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

.services_container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: 99%;
  margin-top: 10px;
}

.srvcs_content {
  position: relative;
  background-color: #fdfdfd;
  color: #353535;
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  transition: .3s;
}

.srvcs_content:hover {
  background-color: #000;
  box-shadow: 4px 4px 8px #e4622b;
}

.srvcs_content:hover .srvcs_title {
  color: #fdfdfd;
}

.srvcs_content:hover .srvc_icon {
  color: #ff4d00;
}

.srvc_icon {
  display: block;
  font-size: 1.5rem;
  color: #e4622b;
  margin-bottom: 1rem;
}

.srvcs_title {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.srvcs_btn {
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}

.srvcs_btn:hover {
  gap: 8px;
}

.srvcs_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.srvcs_modal-content {
  position: relative;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: .5rem;
}

.srvcs_modal-services{
  row-gap: .5rem;
  margin-left: -10px;
}

.srvcs_modal-service{
  display: flex;
}

.srvcs_modal-title {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.srvcs_modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #DB0F3F;
  font-weight: 600;
  cursor: pointer;
}

.srvcs_modal-icon {
  margin-top: 4px;
  color: #DB0F3F;
  margin-right: 0.25rem;
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

/* =========PORTFOLIO========== */
#portfolio {
  height: 100vh;
  max-height: max-content;
  max-width: 100%;
  margin: 0;
}

.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio_container {
  overflow: initial;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background: #000;
  box-shadow: 4px 5px 8px #ff4d00;
  max-height: max-content;
  width: 90%;
  height: max-content;
  border-radius: 5px;
}

.portfolio_content {
  padding: 0 1.5rem;
  padding: 10px;
}

.portfolio_data{
  color: #ffff;
  padding: 18px;
  align-items: center;
  margin-top: 10px;
}

.portfolio_img {
  width: 100%;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title {
  font-size: 26px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.portfolio_description {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.75rem;
  line-height: 1.5rem;
}

.portfolio_button{
  background: var(--color-grad);
  padding: 5px;
  width: 85px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  /* font-family: 'Poppins',sans-serif; */
  color: #fdfdfd;
  transition: .3s;
}

.portfolio_button:hover .button_icon {
  transform: translateX(.30rem);
}

.carousel-control-prev, .carousel-control-next {
  background: var(--color-grad);
  width: 5vh;
  height: 5vh;
  padding: 10px;
  border-radius: 50%;
  top: 45%;
}


/* =========CONTACT ME========== */
#contactme {
  height: max-content;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  margin-bottom: 50px;
}

.cntct_container {
  font-family: 'Poppins', sans-serif;
  min-height: max-content;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.cntct_form.grid, .cntct_inputs.grid {
  display: grid;
  gap: 1.5rem;
}

.cntct_container .info_container, .cntct_container form {
  width: 100%;
}

.cntct_info {
  display: flex;
  margin-bottom: 2rem;
}

.cntct_icon {
  font-size: 2rem;
  color: #de2b38;
  margin-right: 0.75rem;
  align-self: center;
}

.cntct_title {
  font-size: var(--h3-font-size);
  font-weight: 500;
  color: #1e1e1e;
  
}

.cntct_subtitle {
  font-size: var(--small-font-size);
  color: #434343;
}   

.cntct_content {
  width: 90%;
  background-color: #ffcaa9;
  box-shadow: 4px 5px 5px #de2b38;
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
  transition: .3s;
}

.cntct_content:hover {
  box-shadow: 5px 6px 5px #ff4d00;
  transform: translateY(-5px);
}

.cntct_label {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 450;
}

.cntct_input {
  width: 100%;
  background-color: #ffcaa9;
  color: #3a3a3a;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
  padding-left: 10px;
}

.cntct_btn{
  font-size: 15px;
  background: var(--color-grad);
  border-radius: 5px;
  width: 180px;
  text-align: center;
  margin: 5px;
  transition: .3s;
  
}

.cntct_btn a{ 
  color: #fff;
  gap: 5px;
}

.cntct_btn:hover .button_icon{ 
  transform: translateX(6px);
}

.cntct_btn button {
  background: var(--color-grad);
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px;
  color: #fff;
  padding: 5px;
  gap: 5px;
  font-size: 15px;
  border-radius: 5px;
}




/* =========FOOTER========== */

footer {
  font-family: 'Poppins',sans-serif;
  height: max-content;
  width: 100%;
}

.footer {
  padding-top: 2rem;
  color: #fff;
  justify-content: center;
}

.footer_container {
  align-items: center;
  text-align: center;
}

.footer_bg {
  background: #000;
  padding: 2rem 0 2rem;
  justify-self: center;
}

.info_footer {
  margin-left: -10px;
}

.footer_title {
  font-size: 25px;
  margin-bottom: .25rem;
}

.footer_logo {
  width: 50px;
  text-align: center;
  align-items: center;
  margin-right: 4px;
}

.footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  margin-left: 6px;
}

.footer_social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
  color: #e4622b;
  transition: .3s;
}

.footer_social:hover i {
  color: #de2b38;
  transform: translateY(-3px);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: #e6e6e6;
  margin-top: 2rem;
}



/*media queries | responsive */

@media screen and (max-width: 767px) {
 
body, html {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#home .content {
  margin-top: 15px;
}
  .nav__icon {
    padding-top: 12px;
  }

  .nav__logo {
    align-items: center;
    position: absolute;
    top: 0;
  }
  h3.nav_name{
    font-size: 20px;
    padding-top: 3px;
  }

  .nav_img {
    width: 45px;  
  }

  footer {
    padding-bottom: 80px;
  }

  .footer_container {
    width: 90%;
  }
}

@media (max-width:575px) {
  
  .portfolio_content {
    min-height: 510px;
  }

  .carousel-control-prev {
    left: -5px;
   }
   
   .carousel-control-next {
     right: -5px;
   } 
  
}

@media (max-width:660px) {
  #portfolio{
    margin-bottom: 100px;
  }

  .cntct_container {
   justify-content: center;
    flex-direction: column;
  }
}

/* small devices */


@media (max-width:299px) {
  .services_container {
    display: flex;
    flex-flow: column;
    width: 93%;
  }
}

@media (min-width: 516px) {
  .home-container {
    width: 557px;
  }

  .home-container .description {
    width: 500px;
    margin-right: 57px;
  }
}

@media (max-width:475.99px) {
  #home {
    padding-top: 200px;
  }
  @media (min-width:300px) {

    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }

    .nav__list {
      gap: 15px;
    }

    .homebg img {
      width: 370px;
    }

    .homebg img:hover {
      width: 370px;
    }

    #home {
      padding-top: 130px;
    }

    .content {
      position: relative;
      background-position: center;
      padding: 0px;
      width: 460px;
      padding-right: 35px;
      padding-left: 25px;
      padding-bottom: 220px;
      margin-left: -20px;
    } 

    .content .myName {
      font-size: 25px;
    }

    .content .text {
      font-size: 22px;
    }

    @media (max-width:370px) {
      .container.description p{
        width: 280px;
      }
      .nav, .header {
        width: 100%;
      }

      .section#home {
        height: 100vh;
      }

      .home-container .description{
        margin-bottom: 30px;
      }

      .services_container {
        display: flex;
        flex-flow: column;
        width: 93%;
      }

      
    }

    @media (min-width:370px) {
    body, html {
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

      .container.description p{
        width: 87%;
      }
      
      .nav, .header {
        width: 100%;
      }
    }

    .btn-group {
      font-size: 13px;
      align-items: center;
      margin-top: -10px;
    }

    .btn-group a {
      padding: 8px 18px;
      margin-top: -1px;
    }

    .btn-group a:nth-child(2) {
      margin-left: 5px;
    }

    .text.first-text::before {
      height: 100%;
      width: 100%;
    }

    .socmed a {
      width: 32px;
      height: 32px;
      line-height: 29px;
      padding-right: 1px;
      margin-right: 5px;
    }

    .accordion {
     width: 95%;
     margin-left: 10px;
    }

  }
}



@media (max-width:370px) {
  #services{
    margin-bottom: 480px;
  }

  .homebg img {
    width: 350px;
  }
}

@media (min-width:370px) {
  .srvcs2{
    margin-right: 5px;
  }
}

@media (max-width: 967px) {
  @media  (min-width:476px) {
    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }

    .homebg img {
      width: 510px;
    }

    .homebg img:hover {
      width: 550px;
    }

    #about {
      height: max-content;
    }
  }
}

@media (max-width: 600px) {
  @media (min-width:476px) {
    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }
  
    .content {
      position: relative;
      background-position: center;
      padding: 0px;
      width: 460px;
      padding-right: 35px;
      padding-left: 25px;
      padding-bottom: 220px;
      padding-top: 100px;
    } 

    .btn-group {
      font-size: 13px;
      align-items: center;
    }

    .btn-group a {
      padding: 8px 18px;
      margin-top: -1px;
    }

    .btn-group a:nth-child(2) {
      margin-left: 5px;
    }

    .homebg img {
      width: 450px;
    }

    .homebg img:hover {
      width: 460px;
    }

    .text.first-text::before {
      height: 100%;
      width: 100%;
    }

    .section#home {
      height: 100vh;
    }

   h1.myName{
      width: 500px;
    }

    .home-container .description{
      width: 86%;
    }
  }
}

@media (max-width: 760px) {

  @media (min-width:540px) {
    .footer_container {
      width: 96%;
    }
  }

  @media (min-width:600px) {
    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }
  
    .content {
      position: relative;
      background-position: center;
      padding: 0px;
      width: 590px;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 170px;
    }    

    .homebg img {
      width: 550px;
    }

    .homebg img:hover {
      width: 560px;
    }

    .btn-group {
      align-items: center;
    }
    .btn-group a {
      padding: 10px 25px;
    }

    .btn-group a:nth-child(2) {
      margin-left: 10px;
    }

    /* .text.first-text::before {
      height: 27px;
      width: 110px;
    } */

      .section#home {
        height: 100vh;
      }

      /* #about {
        min-height: 165vh;
      } */
  }
}

@media (max-width: 950px) {
  @media (min-width:760px) {
    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }
  
    .content {
      position: relative;
      background-position: center;
      padding: 0px;
      width: 600px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 130px;
    }
    .homebg img {
      width: 560px;
    }

    .homebg img:hover {
      width: 570px;
    }

    /* .text.first-text::before {
      height: 27px;
      width: 115px;
    } */

    
    .section#home {
      height: 100vh;
    }
/* 
    #about {
      min-height: 170vh;
    } */
  }
}

@media (max-width: 1080px) {
  @media (min-width:950px) {
    body, html {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav, .header {
      width: 100%;
    }
  
    .content {
      position: relative;
      background-position: center;
      padding: 0px;
      width: 790px;
      padding-right: 70px;
      padding-left: 70px;
    
    }
    .homebg img {
      width: 690px;
    }

    .homebg img:hover {
      width: 700px;
    }
  }
}

/*medium devices*/
@media screen and (min-width: 576px) {
  body, html {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .nav, .header {
    width: 100%;
  }

  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }

  .nav_img {
    width: 45px;
}
  
}

@media screen and (min-width: 767.10px) {
  body, html {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .section {
    padding: 7rem 0 2rem;
    padding-bottom: 80px;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav, .header {
    width: 100%;
  }

  .nav_img {
    width: 60px;
}
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

}


/*large devices */
@media screen {
  @media  (max-width: 1000px) {
    @media (min-width: 767px) {
     body, html {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

      .nav, .header {
        width: 100%;
      }

      .nav__list, .nav__link {
        margin-left: -20px;
       
      }
    
      .nav__list {
        position: absolute;
        right: 0;
        top: 25px;
        margin-right: 35px;  
      }

    } 

  }
} 


@media screen and (min-width: 1024px) {
  body, html {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .skls_container {
    max-width: 50%;
  }

  .nav, .header {
    width: 100%;
  }

  .homebg img {
    width: 800px;
  }

  .homebg img:hover {
    width: 815px;
  }
 
  #about {
    background: url('') no-repeat ;
    background-size: cover;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .accordion {
    margin-left: -70px;
  }

  .abttxt {
    margin-top: -15px;
  }

}


/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient( #e4622b, #de2b38);
  border-radius: 20px;
}
